
@{
    ViewData["Title"] = "ContactUs";
}

<h1 class="display-4 text-box4">Contact Us</h1>
<br />
<br />

<link rel="stylesheet" href="~/css/site.css">
<a href="https://maps.app.goo.gl/hW4RLse17dXyVHeu5" target="_blank">
<img src="~/Images/location.png" class="right">
</a>

<div class="contact">
<h2>For Inquiries and Support:</h2>
<p>Email: infokhumalocraft@gmail.com</p>
<p>Telephone Number: 021 873 3452</p>

<h2>Visit Us:</h2>
<p>KhumaloCraft Emporium</p>
<p>123 Artisan Street</p>
<p>Cityville, Country</p>

<h2>Follow Us on Social Media:</h2>
<p>Facebook: <a href="https://www.facebook.com/khumalocraft">KhumaloCraft</a></p>
<p>Twitter: <a href="https://twitter.com/khumalocraft">KhumaloCraft</a></p>
<p>Instagram: <a href="https://www.instagram.com/khumalocraft">KhumaloCraft</a></p>
</div>
