@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" href="~/css/site.css">

    <h1 class="display-4 text-box2">KhumaloCraft Emporium</h1>
    <br />
    <br />
    <p class="text-box">James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. His dream involves connecting artisans worldwide with a discerning audience.</p>
     <br />
    <br />
    <img src="~/Images/khumalo.jpg" height="300" widht="230">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
