
@{
    ViewData["Title"] = "MyWork";
}

<h1 class="display-4 text-box5">My Work</h1>
<br />
<br />

<div class="work">
    <h2>Artisanal Showcase:</h2>
    <p>The vast array of handcrafted artifacts, each infused with the artist's passion, skill, and cultural history, is the foundation of KhumaloCraft's work. KhumaloCraft's online marketplace features a wide range of handmade works, from finely carved wooden sculptures to delicately woven fabrics, giving artisans a platform to display their skill to a worldwide audience.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork1.jpg" width="230" height="250">
    <p class="showcase">Wooden Mortar & Pestle: R420</p>
</div>

<div class="work2">
    <h2>Cultural Diversity:</h2>
    <p>KhumaloCraft honors the diverse range of cultures and customs that are weaved into each handcrafted item. Through the platform, artists from around the globe express their own cultural narratives, encouraging consumer appreciation and cross-cultural exchange. KhumaloCraft highlights the diversity and inventiveness of international craftsmanship by showcasing everything from contemporary artisans reinterpreting traditional crafts to indigenous groups maintaining age-old skills.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork2.jpg" width="230" height="250">
    <p class="showcase">Wooden Coster: R120</p>
</div>

<div class="work3">
    <h2>Empowering Artisans:</h2>
    <p>KhumaloCraft gives craftsmen the tools they need to maintain their livelihoods while protecting their cultural heritage by putting them in close contact with customers. KhumaloCraft makes sure that artisans are fairly compensated for their labor and abilities through fair trade standards and ethical sourcing, which supports the sustainable growth of artisan communities and economic empowerment of the craftspeople.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork3.jpg" width="230" height="250">
    <p class="showcase">Wooden Chair & Cusion: R1530</p>
</div>

<div class="work4">
    <h2>Quality and Authenticity:</h2>
    <p>KhumaloCraft is dedicated to maintaining the greatest levels of authenticity and quality in each and every product that is displayed on its website. Every handcrafted item is subjected to stringent curation and quality control procedures to guarantee that it satisfies KhumaloCraft's high standards and authentically showcases the artist's ability and inventiveness.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork4.jpg" width="230" height="250">
    <p class="showcase">Wooden Tray: R200</p>
</div>

<div class="work5">
    <h2>Community Engagement:</h2>
    <p>Beyond sales, KhumaloCraft cultivates a lively network of supporters, enthusiasts, and artists who are all passionate about handicrafts and cross-cultural interaction. KhumaloCraft enhances the artisanal experience for both producers and customers by fostering a sense of community and belonging through interactive features, educational materials, and community gatherings.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork5.jpg" width="230" height="250">
    <p class="showcase">Wooden Toy Horse Carriage: R40</p>
</div>

<div class="work6">
    <h2>Innovation and Growth:</h2>
    <p>KhumaloCraft is committed to ongoing growth and is driven by an innovative spirit. Its goal is to grow and change its platform in order to better meet the needs of both customers and artists. KhumaloCraft aims to inspire a new generation of artists and fans worldwide by pushing the frontiers of artisanal commerce through innovative partnerships, technology developments, and creative initiatives.</p>
    <br />
</div>

<div class="image-container">
    <img src="~/Images/craftwork6.jpg" width="230" height="250">
    <p class="showcase">Wooden Containers: R400</p>
</div>
